.register-button{
    height: 50px;
    width: 350px;
    border: none;
    background-color: var(--main-purple);
    color: var(--white);
    border-radius: 16px;
    font-size: 24px;
    justify-self: center;
    font-family: var(--main-font);
}
.learnmore-button{
    height: 50px;
    width: 200px;
    border: none;
    background-color: var(--main-purple);
    color: var(--white);
    border-radius: 15px;
    font-size: 24px;
    font-family: var(--main-font);
    transition: 1s ease;
}
.learnmore-button:hover{
    transform: scale(1.1);
    transition: 1s ease;
}
