.input-side{
    display: flex;
    height: 50px;
    width: 600px;
    border: 2px solid var(--main-purple);
    border-radius: 8px;
    padding-left: 5px;
    justify-content: space-between;
}
.form-icon{
    height: 16px;
    width: 16px;
    align-self: center;
}
input{
    outline: none;
    background-color: transparent;
    border: none;
    width: 95%;
    color: var(--white);
    font-family: var(--main-font);
    font-weight: lighter;
}
input::placeholder{
    color: var(--white);
    font-family: var(--main-font);
    font-weight: lighter;
}
.line{
    height: 1px;
    width: 500px;
    background-color: var(--white);
}