body{
    height: 100vh;
    width: 100vw;
    background-color: var(--black);
    overflow-x: hidden;
    color: white;
}
main{
    width: 100%;
    display: grid;
}
section{
    padding-top: 80px;
    padding-left: 70px;
    padding-right: 70px;
    display: flex;
    justify-content: space-between;
}
section .movie{
    height: 170px;
    width: 300px;
    border-radius: 30px;
    cursor: pointer;
}
section .movie:hover{
    transform: scale(1.1);
    transition: 0.4s ease;
}
