body{
    height: 100vh;
    width: 100vw;
    background-color: var(--black);
}
header{
    padding: 100px;
    display: flex;
    justify-content: center;
}
main{
    padding-top: 80px;
    display: grid;
    justify-content: center;
}
form{
    display: grid;
    gap: 50px;
    padding-bottom: 90px;
}
